@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@layer base {
  *, *::before, *::after { @apply border-gray-100; }
  .dark *, .dark *::before, .dark *::after { @apply border-gray-700; }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply text-sm text-gray-900 dark:text-white bg-white dark:bg-gray-900;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }

  input, textarea, select {
    @apply text-sm;
  }

  button {
    -webkit-tap-highlight-color: transparent;
  }
}
